.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color:  #04be02 !important;
}
.el-switch.is-checked .el-switch__core {
    border-color: #04be02 !important;
    background-color: #04be02 !important;
}