<!--
 * @Author: Chance Lau
 * @Date: 2022-05-27 15:58:42
 * @LastEditors: Chance Lau
 * @LastEditTime: 2022-07-06 17:48:06
 * @Description: file content
-->
<div class="container" id="master_product_add_div">
    <div class="weui_cells_title">基本信息</div>
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" readonly onfocus="this.removeAttribute('readonly');"maxlength="100" v-model:value="pro_info.name" placeholder="名称" type="text" style="font-size: 16px;color: #888">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cells_title">积分</div>
            <div class="weui_cell_bd weui_cell_primary">
                <div style="font-size: 0px;" class="weui_cell_ft">
                    <a class="weui-number weui-number-sub needsclick">-</a>
                    <input pattern="[0-9]*" class="weui-number-input" style="width: 50px;" v-model:value="pro_info.newPrice"
                        data-min="0" data-max="1000" data-step="1">
                    <a class="weui-number weui-number-plus needsclick">+</a>
                </div>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cells_title" style="margin-left:15px">库存</div>
            <div class="weui_cell_bd weui_cell_primary">
                <div style="font-size: 0px;" class="weui_cell_ft">
                    <a class="weui-number weui-number-sub needsclick">-</a>
                    <input pattern="[0-9]*" class="weui-number-input" style="width: 50px;" v-model:value="pro_info.oldPrice"
                        data-min="0" data-max="1000" data-step="1">
                    <a class="weui-number weui-number-plus needsclick">+</a>
                </div>
            </div>
        </div>
    </div>
    <div class="weui_cells_title">商品兑换有效期</div>
    <div class="weui_cells">
        <div class="weui_cell_bd weui_cell_primary" style="padding: 20px 0">
            <el-date-picker
                v-model="pro_info.startValidity"
                type="date"
                format="yyyy-MM-dd"
                placeholder="选择日期">
            </el-date-picker>
            --
            <el-date-picker
                v-model="pro_info.endExpiry"
                type="date"
                format="yyyy-MM-dd"
                placeholder="选择日期">
            </el-date-picker>
        </div>
    </div>
    <div class="weui_cells_title">图片信息</div>
    <div class="weui_cells">
        <div class=" weui_cell weui_cell_bd weui_cell_primary">
            <div class="weui_uploader">
                <div class="weui_uploader_hd weui_cell" style="font-size: 13px;color:  #888;margin-left: 20px;margin-top: 5px;">
                    <div class="weui_cell_bd weui_cell_primary">对外展示图片</div>
                    <div class="weui_cell_ft"></div>
                </div>
                <div class="weui_uploader_bd" style=" margin-left: 20px;">
                    <ul class="weui_uploader_files">
                        <li class="weui_uploader_file weui_uploader_input_wrp" style="width:350px;height:150px">
                            <input class="weui_uploader_input" name="imgfile" w="16" h="9" type="file"
                                data-cutImg-ParentId="master_product_add_div" id="showImgUrl" v-bind:data-img-name="pro_info.showImgUrl">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="weui_cells_title">商品详情</div>
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <script type="text/plain" id="myEditor" style="height:400px;width:100%"></script>
            </div>
        </div>
    </div>
    <div class="weui_btn_area weui_btn_area_inline">
        <a href="javascript:;" class="weui_btn weui_btn_primary" v-on:click="save_pro_info(0)">保存</a>
        <a href="javascript:;" class="weui_btn weui_btn_primary" v-on:click="save_pro_info(1)">保存并发布</a>
    </div>
</div>
<script type="text/javascript" src="products/add.js"></script>